$color-footer: #24292F;
$color-header: #24292F;
$color-link: #0A95FF;

$color-brand-white: #FFFFFF;
$color-brand-gray: #D6D9DC;
$color-brand-danger: #DD382C;

$color-bg-layout: #FAFAFC;
$color-border: #EFEFF5;
$color-text: #2C3E50;

$height-header: 40px;
$height-footer: 20px;
