$color-footer: #24292F;
$color-header: #24292F;
$color-link: #0A95FF;

$color-brand-white: #FFFFFF;
$color-brand-gray: #D6D9DC;
$color-brand-gray-dark: #9C9C9C;
$color-brand-danger: #DD382C;

$color-bg-layout: #FAFAFC;
$color-border: #EFEFF5;
$color-text: #2C3E50;
$color-info: #2080F0;
$color-success: #18A058;

$height-header: 40px;
$height-footer: 20px;

$box-shadow-from: rgba(0 0 0 / 30%) 0 19px 38px, rgba(0 0 0 / 22%) 0 15px 12px;
