// Site elements colors
$color-footer: #24292f;
$color-header: #24292f;
$color-link: #0a95ff;
$color-bg-layout: #fafafc;
$color-border: #efeff5;
$color-text: #2c3e50;

// Site base colors
$color-brand-white: #fff;
$color-brand-gray: #d6d9dc;
$color-brand-gray-dark: #9c9c9c;
$color-brand-danger: #dd382c;
$color-info: #2080f0;
$color-success: #18a058;
$color-live: #c06;

// Site sizes
$height-header: 40px;
$height-footer: 20px;

// Fonts
$font-size-base: 14px;
$font-size-small: 13px;
$font-size-x-small: 12px;
$font-weight-normal: 400;
$font-weight-medium: 600;

// Shadows
$box-shadow-from: rgba(0 0 0 / 30%) 0 19px 38px, rgba(0 0 0 / 22%) 0 15px 12px;
